<div class="mat-dialog-container">
<h1 mat-dialog-title>{{ data.sponsor_name_latin }}</h1>
<div mat-dialog-content>
  <p><strong>Address:</strong> {{ data.address }}</p>
  <p><strong>Phone:</strong> {{ data.phone }}</p>
  <p><strong>Email:</strong> {{ data.email }}</p>
  <p><strong>Max Limit:</strong> {{ data.max_limit }}</p>
  <p><strong>Financial Limit:</strong> {{ data.financial_limit }}</p>
  <p><strong>Time Limit:</strong> {{ data.time_limit }}</p>
  <p><strong>Active:</strong> {{ data.active ? 'Yes' : 'No' }}</p>
</div>
</div>